.offerProperties {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.offerProperties .offerProperty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.offerProperties .offerProperty span {
  font-size: 54px;
  font-weight: 700;
  color: rgba(194, 194, 194, 0.261);
}

.offerProperties .offerProperty svg {
  font-size: 48px;
  color: #7fd02c;
}

.offerProperties h2 {
  color: #292929;
  font-weight: 700;
  width: fit-content;
  margin: 12px auto;
  cursor: pointer;
  transition: all 0.2s linear;
}

.offerProperties h2:hover {
  color: #7fd02c;
}

.offerProperties p {
  color: rgb(149, 149, 149);
}

.offerProperties .property {
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .offerProperties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
