.cart tr {
  width: 100%;
  border-top: 1px solid #d4d4d4;
}
.cartImage {
  padding: 10px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.cartImage h4 {
  margin: 0;
  color: #5c5c5c;
  font-size: 22px;
  transition: all 0.2s linear;
}
.cartImage h4:hover {
  color: #cd1a1a;
}
.cartImage img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}
.price h5 {
  margin: 0;
  font-size: 22px;
  color: #838383;
}
.quantity .trash {
  font-size: 14px;
}
.quantity .trashHolder {
  padding: 1px8px2px8px;
  border-radius: 4px;
  margin-left: 8px;
  color: #ffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #cd1a1a;
  transition: all 0.2s linear;
  cursor: pointer;
}
.quantity .trashHolder:hover {
  background-color: #b01717;
}
.quantity .decrease {
  padding: 1px10px2px10px;
  border-radius: 4p x;
  margin-left: 8p x;
  color: #ffff;
  font-size: 20p x;
  font-weight: 900;
  background-color: #cd1a1a;
  transition: all 0.2s linear;
  cursor: pointer;
}
.quantity .decrease:hover {
  background-color: #b01717;
}
.quantity span:nth-of-type(3) {
  padding: 1px7px2px7px;
  border-radius: 4p x;
  color: #ffff;
  margin-right: 8p x;
  font-size: 20p x;
  font-weight: 900;
  background-color: #25780e;
  transition: all 0.2s linear;
  cursor: pointer;
}
.quantity span:nth-of-type(3):hover {
  background-color: #1a530a;
}
.quantity span:nth-of-type(2) {
  font-weight: 900;
  font-size: 20px;
  color: #5c5c5c;
}
.total span {
  color: #5a5a5a;
  font-size: 24px;
  font-weight: 800;
}
