.slider-single {
  width: 300px;
  margin: 0 auto;
  @media (min-width: 460px) {
    width: 350px;
  }
  @media (min-width: 992px) {
    width: 500px;
  }
  .DetailSlider {
    width: 100%;
    height: 90%;
    margin: 0 auto;
  }
  .swiper-slide {
    background-color: transparent;
    img {
      width: 100%;
      @media (min-width: 992px) {
      }
    }
  }
}

.DetailThumb {
  margin-top: 10px;
  width: 300px;
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    width: 500px;
    height: 10%;
  }
  .swiper-slide {
    background-color: #f7f7f7;
    width: 95px !important;
    border: 1px solid #ffff;
    @media (min-width: 768px) {
      width: 110px !important;
    }
    @media (min-width: 992px) {
      width: 162px !important;
    }
    img {
      transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.04);
      }
    }
  }
  .swiper-slide-thumb-active {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 12px;
    background-color: #ffff;
  }
}
