.container {
  padding: 10% 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  
}

.container div{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container img {
  width: 100%;
  height: auto;
}

@media (min-width: 596px) {
  .container {
    flex-direction: row;
}
}
