.container{
    display: flex;
    flex-direction: column;
    padding:10% 15px;
}

.container section{
    text-align: center;
}

.container h3{
    color: #7fd02c;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 0;
}

.container h4{
    font-size: 18px;
    margin: 10px 0;
}

.container p{
    color: #727272;
    /* display: none; */
    margin-top: 15px;
}

.container h1{
    font-weight: 800;
    font-size: 30px;
    margin-top: 5px;
}

.question div{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;;
}

.container .left{
    font-size: 36px;
    margin-left: 15px;
    color: #7fd02c;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;

}

@media (min-width:600px) {
    .container h1{
        font-size: 34px;
    }

    .container h3{
        font-size: 24px;
    }

    .container h4{
        font-size: 22px;
    }

    .container .left{
        font-size: 40px;
    }

}

@media (min-width:768px) {
    .container{
        flex-direction: row;
    }

    .container h1{
        font-size: 38px;
    }

    .container h3{
        font-size: 28px;
    }

    .container h4{
        font-size: 24px;
    }

    .container .left{
        font-size: 42px;
    }

}

@media (min-width:992px) {
    .container h1{
        font-size: 42px;
    }

    .container h3{
        font-size: 32px;
    }

    .container p{
        font-size: 20px;
    }

}

@media (min-width:1200px) {
    .container{
        padding: 10% 55px;
    }
    .container h1{
        font-size: 46px;
    }

    .container h3{
        font-size: 36px;
    }

}