.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #ffffff;
  padding: 10px 20px 0;
  margin: 0 auto !important;
  z-index: 10;
}

.container div:first-of-type {
  display: flex;
  justify-items: center;
}

.container div:last-of-type {
  display: flex;
  justify-items: center;
}

.container img {
  width: 163px;
  height: 35px;
  margin-left: 40px;
}

.icon{
  font-size: 1.6rem;
  font-weight: 300;
  color: #525252;
  transition: 0.2s linear;
  margin-left: 12px;
  margin-right: 10px;
}

.search {
  font-size: 1.6rem;
  font-weight: 300;
  color: #525252;
  transition: 0.2s linear;
  margin-left: 12px;
}

.search:hover,
.icon:hover,
.cart:hover {
  color: #e52029;
}

.container .cart {
  position: relative;
  transition: all 0.2s linear;
  margin-right: 10px;
}

.container span {
  position: absolute;
  color: green;
  font-size: 20px;
  font-weight: 800;
  bottom: 18px;
  left: 40px;
}
