.container ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

ul li {
  font-size: 22px;
  font-weight: 600;
  color: #292929;
  cursor: pointer;
  margin: 0 12px;
  transition: all 0.2s linear;
}

ul div:first-of-type li a{
  color: #e52029;
}

ul li:hover {
  color: #e52029;
}

.shop,
.galery,
.blog,
.pages,
.elements {
  position: relative;
}

.shop section,
.galery section,
.blog section,
.pages section {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  width: 210px;
  top: 34px;
  border-radius: 4px;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.elements:hover section,
.shop:hover section,
.galery:hover section,
.blog:hover section,
.pages:hover section {
  transform: scale(1);
  opacity: 100%;
  visibility: visible;
}

.shop a,
.galery a,
.blog a,
.pages a {
  color: #292929;
  font-weight: 500;
  padding: 10px;
  transition: all 0.2s linear;
}

.shop a:hover,
.galery a:hover,
.blog a:hover,
.pages a:hover {
  color: #e52029;
  border-right: 5px solid #e52029;
  background-color: #f2c5c7;
}

.elements section {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  width: 1000px;
  top: 34px;
  right: -495px;
  border-radius: 4px;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.eleIcons {
  display: flex;
  color: rgb(84, 171, 2);
  align-items: center;
  border-bottom: 1px solid #4f4f4f37;
  cursor: pointer;
  font-size: 26px;
}

.eleIcons p {
  margin-right: 15px;
  font-weight: 600;
  margin-top: 40px;
  color: #54ab02;
  /* color: #575757; */
}

.third,
.second,
.first {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  min-width: 250px;
}

.firstCol {
  display: flex;
}

.firstCol div {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  padding-top: 30px;
}

.second div a p,
.firstCol div p {
  color: #292929;
  /* color: #252525; */
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 5px 0;
}

.firstCol a,
.second a {
  margin: -15px 0;
}

.second a p:hover,
.firstCol div p:hover {
  color: #e52029;
  border-right: 5px solid #e52029;
  background-color: #f2c5c7;
  padding-right: 4px;
}

.second div:last-of-type {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.third .fruit div {
  height: 240px;
  overflow: hidden;
  padding: 15px;
}

.third img {
  height: 100% !important;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 5px;
}

.third .fruit div {
  position: relative;
  overflow: hidden;
}

.fruit .elementPhoto {
  position: absolute;
  top: 10;
  right: -70px;
  width: 70px;
  height: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: #e52029;
  z-index: 5;
}

.fruit .elementPhoto a{
  color: #ffff;
}

.third .fruit img:hover + .elementPhoto {
  right: 9px;
}

.elementPhoto:hover {
  right: 30px;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  font-size: 22px;
}

.third .fruit img:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.6) 0 4px 12px;
}

@media (min-width: 1200px) {
  ul li {
    margin: 0 25px;
  }
}
