.container{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-right: 5px;
}

.container a{
    font-size: 22px;
    color: #2a2a2a;
    transition: all .2s linear;
}

.container a:hover{
    color: #e52029;
}