footer .container {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  padding: 4% 5px;
  margin-top: 20px;
}

footer .container .twoCol {
  display: flex;
  flex-direction: column;
}

footer h1 {
  color: black;
  font-size: 34px;
}

footer .visit {
  margin: 10px 0 25px 0;
}

footer .container strong {
  margin-left: 5px;
}

footer .socials {
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

footer .socials p {
  color: rgb(63, 63, 63);
}

footer .socials ul {
  list-style: none;
  display: flex;
  margin-top: 0;
}

footer .socials .icon {
  color: black;
  transition: all 0.2s linear;
}

footer .socials .icon:hover {
  color: #e52029;
}

.contact .icon {
  color: #7fd02c;
  font-size: 20px;
}

.contact div {
  margin-bottom: 40px;
}

.contact p {
  color: #6e6e6e;
  width: 220px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s linear;
}

.contact p:hover {
  color: #7fd02c;
}

.contact p:nth-of-type(1) {
  direction: ltr;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.newsletter p {
  color: #6e6e6e;
  margin-top: -5px;
}

.newsletter input {
  border-bottom: 1px solid #bababa;
  text-align: center;
  padding: 5px 0;
  color: #6e6e6e;
}

.newsletter input::placeholder {
  color: #6e6e6e;
}

.newsletter div {
  background-color: #e52029;
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.newsletter div:hover {
  background-color: #9f161c;
}

.newsletter div > * {
  font-size: 30px;
  color: #ffff;
}

@media (min-width: 600px) {
  footer .container .twoCol {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
  }

  .container .contact h1 {
    margin-top: 0;
  }

  .newsletter div {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  footer .container {
    text-align: right;
    margin-top: 60px;
  }

  footer .contact div {
    display: flex;
    gap: 20px;
  }
}

@media (min-width: 1100px) {
  footer .container {
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 60px;
  }

  footer .container .twoCol {
    gap: 60px;
  }

  .newsletter {
    flex-direction: row;
    align-items: flex-end;
  }

  footer h1{
    margin-top: 0;
    font-size: 38px;
  }

  footer .socials{
    flex-direction: column;
  }
}
